#history > h3 {
    display: none;
}

div.timelog {
  overflow: auto;
  display: block;
}

div.timelog h4 {
  padding-top: 5px;
}

.timelog {
  clear: left;
}

.timelog .spent_on {
  padding-left: 40px;
  font-size: 12pt;
}
.timelog .spent_on span {
  padding-right: 10px;
}

div#issue-changesets {
  margin-left: 1em;
  margin-bottom: 1em;
  background: #fff;
  padding-left: 1em;
}