<% content_for :header_tags do%>
  <%= stylesheet_link_tag('issue_history_tabs.css', :plugin => :redmine_issue_tabs) %>
  <%= javascript_include_tag('issue-history-tabs.js', :plugin => :redmine_issue_tabs) %>
<% end %>



<div id="history_tabs">
  <% issue_tabs = [ { name: 'comments', partial: 'redmine_issue_tabs/blank', label: :label_issues_tab_comments },
                    { name: 'history', partial: 'redmine_issue_tabs/blank', label: :label_issues_tab_history },
                    { name: 'changesets', partial: 'redmine_issue_tabs/blank', label: :label_associated_revisions } ]
  if User.current.allowed_to?(:view_time_entries, @project)
    issue_tabs << { name: 'timelog', partial: 'redmine_issue_tabs/timelog', label: :label_spent_time }
  end
  %>
  <%= render_tabs issue_tabs %>
</div>